@page "/backup"
@using System.Text.Json
@using System.Text
@using app.Data
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Db
@inject IJSRuntime JS

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    public async Task DownloadBackup()
    {
        var batches = await Db.FinancialTransactionBatches.ToListAsync();

        List<TransactionBatchBackup> backup = new();

        foreach (var batch in batches)
        {
            var transactionBackup = new TransactionBatchBackup
            {
                Id = batch.Id,
                Name = batch.Name,
                Payments = new List<TransactionBatchItemBackup>()
            };

            var transactions = await Db.FinancialTransactions
            .Where(p => p.Batch.Id == batch.Id)
            .ToListAsync();

            var tags = await Db.FinancialTransactionTags
            .Include(t => t.TagValue)
            .Include(t => t.Tag)
            .Where(t => t.FinancialTransaction.Id == batch.Id)
            .ToListAsync();

            foreach (var transaction in transactions)
            {
                var paymentBackup = new TransactionBatchItemBackup
                {
                    Id = transaction.Id,
                    Value = transaction.Value,
                    EmissionDate = transaction.EmissionDate,
                    TransactionDate = transaction.TransactionDate,
                    DueDate = transaction.DueDate,
                    Paid = transaction.Status == FinancialTransactionStatus.Paid,
                    Observation = transaction.Observation,
                    Tags = new List<TagBackup>()
                };

                foreach (var financialTag in tags)
                {
                    var tagBackup = new TagBackup
                    {
                        Id = financialTag.Tag.Id,
                        Name = financialTag.Tag.Name,
                        Value = financialTag.TagValue.Value
                    };

                    paymentBackup.Tags.Add(tagBackup);
                }

                transactionBackup.Payments.Add(paymentBackup);
            }

            backup.Add(transactionBackup);
        }

        var fileName = $"backup-{DateTime.Now:yyyy-MM-dd-HH-mm-ss}.json";
        var json = JsonSerializer.Serialize(backup);
        var fileBytes = Encoding.UTF8.GetBytes(json);
        var fileBase64 = Convert.ToBase64String(fileBytes);

        var fileUrl = $"data:application/json;base64,{fileBase64}";

        await JS.InvokeVoidAsync("downloadFileFromUrl", fileName, fileUrl);

    }

    record TransactionBatchBackup
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
        public ICollection<TransactionBatchItemBackup> Payments { get; set; } = [];
    }

    record TransactionBatchItemBackup
    {
        public int Id { get; set; }
        public decimal Value { get; set; }
        public DateOnly? EmissionDate { get; set; }
        public DateOnly? TransactionDate { get; set; }
        public DateOnly? DueDate { get; set; }
        public bool Paid { get; set; }
        public string? Observation { get; set; }
        public ICollection<TagBackup> Tags { get; set; } = [];
    }

    record TagBackup
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
        public string Value { get; set; } = string.Empty;
    }
}


<PageTitle>Backup</PageTitle>

<h1>Backup</h1>
<p>
    <button class="btn btn-primary" @onclick="DownloadBackup">Download Backup</button>
</p>