@page "/categories"
@using app.Data
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Db

@code {
    private Category[]? categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Db.Categories.ToArrayAsync();
    }
}

<PageTitle>Categorias</PageTitle>

<h1>Categorias</h1>

<a href="/category/register" class="btn btn-primary">Nova Categoria</a>

@if (categories == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        <a href="/category/register/@category.Id" class="btn btn-secondary">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
